body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
header{
    background-color:13,27;
    padding: 15px;
    text-align: center;
}
nav a{
    text-decoration: none;
    margin: 0 10px;
}
table{
    width: 100%;
    margin: 15px;
    text-align: center;
    border-collapse: collapse;
}
table th,
table td{
    border: 1px solid #999;
    text-align: center;
    padding: 8px;
}
table th{
    background-color: bisque;
}
